---
- name: Add apt key
  get_url:
    url: "{{ docker_apt_key_url }}"
    dest: /etc/apt/trusted.gpg.d/docker.asc
    mode: "0644"
    force: true

- name: Add apt repository
  apt_repository:
    repo: "{{ docker_apt_repository }}"
    state: present
    filename: docker

- name: Install package {{ docker_package_version }} version
  apt:
    name: "{{ (docker_package_version == 'latest') | ternary(docker_package_name, '{{ docker_package_name }}={{ docker_package_version }}') }}"
    state: present
    force: yes
    update_cache: yes

- name: Start service
  service:
    name: docker
    state: started

- name: Install Docker SDK for Python
  apt:
    name:
      - python3-setuptools
      - python3-docker
      - docker-compose
    state: present

- name: Creates docker services folders
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  with_items:
    - "{{ docker_services_root_folder }}"
    - "{{ docker_volumes_root_folder }}"
    - "{{ docker_compose_files_folder }}"

- name: Log into private registry
  docker_login:
    registry: "{{ registry.registry }}"
    username: "{{ registry.user }}"
    password: "{{ registry.password }}"
  loop: "{{ docker_private_registries }}"
  loop_control:
    loop_var: registry
